@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

::-webkit-scrollbar {
    /* chrome based */
    width: 0px;
    /* ширина scrollbar'a */
    background: transparent;
    /* опционально  */
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

.grid-bg {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 70px 70px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 50px;
    background-color: #aaa9ad3f;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #000;
}

header .logo span {
    font-size: 20px;
    font-weight: 700;

}

header img {
    width: 32px;
    height: 32px;
}

nav {
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    border: 1px solid#000;
    border-radius: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav a {
    font-size: 18px;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    transition: color 0.2s ease;
    transition: background-color 0.3s ease-in-out;
    border-radius: 50px;    
    /* добавляем эффект при наведении */
}
nav a:hover {
    color: #ff0000;
    background-color: #ccc;
    text-decoration: underline;
    /* изменяем цвет текста при наведении */
}

nav a:active {
    color: #0a1dee;
    /* изменяем цвет текста при клике */
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    width: 20%;
    padding: 10px;
    background-color: #aaa9ad3f;
    border-radius: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}


.sidebar a {
    color: #000000;
    position: relative;
    text-decoration: none;
}

.sidebar a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.sidebar a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.sidebar a:hover {
    color: #ff0000;
    /* изменяем цвет текста при наведении */
}

.sidebar a:active {
    color: #0a1dee;
    /* изменяем цвет текста при клике */
}

.conteiner {
    display: flex;
    flex-grow: 1;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Arial', sans-serif;
    /* изменяем шрифт */
    color: #333;
    /* изменяем цвет текста */
}

.main {
    width: 80%;
    padding: 20px;
    border-radius: 50px;
    border: 1px solid #000;
    background-color: #aaa9ad3f;
}

.me {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 50%;
}

.meimg {
    border: 1px solid #000;
    background-color: white;
}

.meimg p {
    border-top: 1px solid #000;
    padding: 10px 0;
    margin: 0;
}

footer {
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 10px 0;
    border: 1px solid #000;
    border-radius: 50px;
    align-items: center;
    position: relative;
    background-color: #aaa9ad3f;
}

.links {
    position: absolute;
    right: 10px;
}

/* Стили index2.html */
.cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.card {
    width: 380px;
    border: 3px solid #000;
}

.card {
    height: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    /* добавляем тень */
    border: 1px solid #ddd;
    /* добавляем границы */
    padding: 20px;
    /* добавляем отступы */
    transition: transform 0.2s ease;
    /* добавляем эффект при наведении */
    position: relative;
}

.card:hover {
    transform: translateY(-5px);
    /* изменяем положение при наведении */
}

.card p {
    margin: 0;
    padding: 10px;
    text-align: center;
}

.card button {
    margin: 0;
    padding: 10px;
    text-align: center;
    position: relative;
    right: -150px;
    top: -5px;
}

button {
    background-color: #333;
    /* изменяем цвет фона */
    color: #fff;
    /* изменяем цвет текста */
    padding: 10px 20px;
    /* добавляем отступы */
    border: none;
    /* удаляем границы */
    cursor: pointer;
    /* изменяем курсор */
    transition: background-color 0.2s ease;
    /* добавляем эффект при наведении */
}

button:hover {
    background-color: #555;
    /* изменяем цвет фона при наведении */
}

button:disabled {
    background-color: #ff3737;
    /* изменяем цвет фона на красный, когда кнопка disabled */
    cursor: not-allowed;
    /* изменяем курсор на "неallowed", чтобы показать, что кнопка не активна */
    opacity: 0.5;
    /* добавляем полупрозрачность, чтобы кнопка выглядела неактивной */
}

.card img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    border-bottom: 3px solid #000;

}

/* Конец index2.html */


/* Модальное окно на index2.html */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: all .8s ease-out;
}


.modal.open {
    visibility: visible;
    z-index: 100;
    opacity: 1;

}

.modal .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 0;
    cursor: pointer;
}

.modal-window {
    position: relative;
    z-index: 101;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
    background-color: #dbd8d8;
    padding: 30px;
}

.btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    opacity: 0.7;
    cursor: pointer;
}

.btn-close:hover {
    opacity: 1;
}

.modal-window form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.modal-window label {
    margin-bottom: 5px;

}

.modal-window input,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:hover {
    border-color: #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    /* добавляем тень */
}

.agreement {
    display: flex;
    align-items: center;
    gap: 10px;
}

textarea:hover {
    border-color: #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    /* добавляем тень */
}

select:hover {
    border-color: #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    /* добавляем тень */
}


.modal-window textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 64px;
    resize: none;
}

.checkbox label {
    cursor: pointer;
}

.modal-window .field {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100px auto;
    gap: 10px;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
}

/* Конец модального окна */

/* Стили index3.html */

table {
    width: 550px;
    border-top: 7px solid #000;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 2px solid #000
}

.tr-0 {
    background-color: rgb(156, 155, 155)
}

.tr-1:hover {
    background-color: rgb(156, 155, 155, 0.4);
}


.tr-1 {
    background-color: rgb(201, 200, 200);
}

.tr-2{
    background-color: rgb(255, 255, 255);
}

.tr-2:hover {
    background-color: rgba(255, 255, 255, 0.4);
}


.table-2 {
    width: 750px;
}

/* Стиль checkbox */

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
    color: var(--form-control-disabled);
    cursor: not-allowed;
}